
<h4 class="my-3">Lista de Quiz</h4>
<hr>


<ul class="nav nav-tabs my-3">
  <li class="nav-item">
    <a class="nav-link{% if active == 'new' %} active{% endif %}" href="{% url 'students_en:quiz_list_en' %}">Novo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'taken' %} active{% endif %}" href="{% url 'students_en:taken_quiz_list_en' %}">Concluído</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'students' %} active{% endif %}" href="{% url 'students_en:student_list_en' %}">Estudantes</a>
  </li>
</ul>
